* text=auto eol=lf

*.php text diff=php
*.md text
*.json text
*.xml text
*.yml text
*.yaml text

.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
.pint.json export-ignore
phpunit.xml.dist export-ignore
tests export-ignore
docs export-ignore
